/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.App {
	text-align: center;
}

.modal-container {
	overflow: hidden;
}

.modalContainer {
	padding-top: 20px;
	background-color: #1f1840;
	font-family: Arial, sans-serif;
}

.modalIcon {
	text-align: center;
}

.portfolioRewardTitle {
	color: white;
}

.backButton {
	width: 40px;
	position: fixed;
	top: 10px;
	left: 5px;
}

.portfolioHeaderTable {
	width: 100%;
	margin-top: 50px !important;
}

.portfolioBalanceTable {
	width: 20%;
	text-align: center;
	margin: 0 auto;
}

.portfolioAllTimeTable {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

.portfolioPaymentsTable {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.portfolioPayments {
	color: white;
}

.portfolioBalanceCell {
	text-align: left;
}

.portfolioHeaderCell {
	text-align: center;
	align-content: center;
}

.float-container {
	display: flex;
}

.portfolioBalance {
	color: white;
	font-size: 30px;
	font-weight: bold;
}

.portfolioAlltime {
	color: #cc28f9;
	opacity: 100%;
	font-size: 15px;
}

.portfolioAllTimeText {
	color: grey;
	font-size: 15px;
}

.portfolioBalanceType {
	color: white;
	padding-top: 10px;
}

.portfolioHeader {
	color: white;
	font-size: 25px;
}

.successSummary {
	font-weight: bolder;
}

.successResults {
	text-align: center;
	color: white;
	font-family: Arial, sans-serif;
}
.successButtonCell {
	text-align: center;
	padding-bottom: 50px;
}
.successTable {
	width: 100%;
}

.successDiv {
	text-align: center;
}

.successImage {
	width: 70%;
}

.modalSymbol {
	color: white;
	text-align: center;
}

.modalName {
	color: white;
	opacity: 50%;
	text-align: center;
}

.modalTitle {
	color: white;
	opacity: 50%;
	text-align: center;
}

.modalChart {
	padding-left: 10px;
	padding-right: 10px;
}

.lineBreak {
	color: grey;
	opacity: 0.2;
}

.portfolioDetails {
	padding-right: 20px;
	padding-left: 20px;
}

.portfolioChart {
	/* height: 400px; */
}
.platform {
	/* background: linear-gradient( #671FF3 , #4C65F9 ); */
	background-color: #181330;
	width: 100%;
	align-content: center;
}

.tutorialBG {
	/* background: linear-gradient( #671FF3 , #4C65F9 ); */
	background-color: #181330;
	width: 100%;
	/* align-content: center; */
	height: 100%;
}

.btn-hover {
	width: 109px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	margin: 10px;
	height: 32px;
	text-align: center;
	border: none;
	/* background-size: 300% 100%; */

	border-radius: 50px;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

modal-backdrop {
	background-color: transparent !important;
}

.btn-hover.color-1 {
	background-image: linear-gradient(#f606ff, #637eea);
	/* box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */
}

.modalButton {
	text-align: center;
}

.swapDiv {
	text-align: center;
	margin-top: -5px;
	padding-bottom: 5px;
}

.modalDetails {
	text-align: center;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.modalTable {
	width: 100%;
}

.navDot {
	height: 5px;
	width: 5px;
	background-color: #22d7b9;
	border-radius: 50%;
	display: inline-block;
}

.marketDot {
	height: 5px;
	width: 5px;
	background-color: #a747f4;
	border-radius: 50%;
	display: inline-block;
}

.closeButton {
	width: 25px;
}

.backButtonStyle {
	background: none;
	border: none;
}

.closeStyle {
	background: none;
	border: none;
}

.skipStyle {
	background: none;
	border: none;
	color: white;
}

.startStyle {
	background: none;
	border: none;
	color: #a747f4;
	font-weight: bold;
	padding-top: 50px;
}

.checkoutTable {
	width: 100%;
	padding-top: 0px;
	padding-right: 20px;
}

.checkoutTokens {
	padding-top: 20px;
}

.closeCell {
	text-align: right;
	padding-right: 0px;
	padding-top: 10px;
}

.modalMarketValue {
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bolder;
}

.modalNav {
	color: white;
	font-family: Arial, sans-serif;
	padding-left: 30px;
}

.swapIcon {
	width: 75px;
}

.checkoutHeader {
	color: white;
	width: 100%;
	text-align: center;
	font-family: Arial, sans-serif;
	padding-top: 10px;
	font-size: 25px;
	font-weight: normal;
}
.modalCell {
	text-align: right;
}

.tutorialTable {
	text-align: center;
	margin-top: 40px;

	width: 100%;
	height: 100%;
	background-color: transparent;
}

.tutorialMain {
	color: white;
	font-family: Arial, sans-serif;
	font-size: 30px;
	font-weight: bolder;
	padding-top: 45px;
	padding-left: 20px;
}

.carousel {
	height: 90vh;
	width: 100%;
	overflow: hidden;
}
.carousel .carousel-inner {
	height: 100%;
}

.tutorialDav {
	position: absolute;
	bottom: 0px;
}

.tutorialTable {
	width: 100%;
}

.tutorialBody {
	color: white;
	font-family: Arial, sans-serif;
	font-size: 15px;
	padding-top: 15px;
}

.whiteSeparator {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	opacity: 20%;
	text-align: center;
}

.modalMarket {
	color: white;
	font-family: Arial, sans-serif;
	padding-left: 30px;
	text-align: left;
}

.tokenTable {
	width: 100%;
}

.purchaseInputCell {
	text-align: right !important;
	color: white;
}

.purchaseInput {
	background-color: transparent !important;
	border: 0 !important;
	color: white !important;
	text-align: right;
	font-family: Arial, sans-serif;
	font-size: 20px !important;
}

.tokenCard {
	height: 70px;
	margin-bottom: 20px;
	background: #1f1840 !important;
	vertical-align: middle;
}

.rewardTokenCard {
	height: 70px;
	margin-bottom: 00px;
	background: #1f1840 !important;
	vertical-align: middle;
	border: double 2px transparent !important;
	border-radius: 10px !important;
	background-image: linear-gradient(#1f1840, #1f1840),
		radial-gradient(circle at top right, #f606ff, #8067ee, #32c1c5) !important;
	background-origin: border-box !important;
	background-clip: content-box, border-box !important;
}

.tokenIconDiv {
	padding-left: 5px;
	width: 40px;
}

.stableTokenTable {
	margin-top: 10px;
	width: 100%;
}

.stableTokenIconDiv {
	padding-left: 5px;
	width: 40px;
	padding-right: 10px;
}

.tokenIcon {
	width: 40px;
	height: 40px;
}

.tokenTitle {
	color: white;
	text-align: left;
	font-family: Arial, sans-serif;
	opacity: 50%;
	font-size: px;
}

.tokenTitleSmall {
	color: white;
	text-align: left;
	font-family: Arial, sans-serif;
	opacity: 50%;
	font-size: 14px;
}

.portfolioTokenTitle {
	color: white;
	text-align: left;
	font-family: Arial, sans-serif;
	opacity: 50%;
	font-size: 12px;
}

.portfolioConvertedBalance {
	color: white;
	text-align: right;
	font-family: Arial, sans-serif;
	opacity: 50%;
	font-size: 12px;
	padding-right: 5px;
}

.tokenBalance {
	text-align: right;
	padding-top: 10px;
	padding-right: 5px;
	color: white;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.tokenSymbol {
	padding-top: 10px;
	color: white;
	font-weight: bold;
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.tagline {
	color: white;
	font-size: 14px;
	text-align: left;
	font-family: Arial, sans-serif;
}

.header {
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

.welcomeTable {
	width: 100%;
}

.welcomeBody {
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	color: white;
}

.alignRight {
	text-align: right;
}

.welcomeTitle {
	width: 100%;
}

.pendingLogoCell {
	text-align: center;
}

.connectedAddress {
	color: white;
	font-size: 12px;
	text-align: right;
}
.smallLogo {
	height: 60px;
	pointer-events: none;
	padding-top: 10px;
}

.walletToggle {
	color: white;
}

.pendingTable {
	align-content: center;
	width: 100%;
}

.pendingLogo {
	height: 100px;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
