.App {
	text-align: center;
}

.platform {
	/* background: linear-gradient( #671FF3 , #4C65F9 ); */
	background-color: #211b44;
}

.tagline {
	color: white;
	font-size: 12px;
	text-align: center;
}

.welcomeTable {
	width: 100%;
}

.welcomeBody {
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	color: white;
}

.alignRight {
	text-align: right;
}

.welcomeTitle {
	width: 100%;
}

.pendingLogoCell {
	text-align: center;
}
.smallLogo {
	height: 40px;
	pointer-events: none;
	padding-top: 10px;
}

.pendingTable {
	align-content: center;
	width: 100%;
}

.pendingLogo {
	height: 100px;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
